<header>
  <div class="container">
    <div id="img-container">
      <a href="#" routerLink="/" class="logo"
        ><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flaschenpost_Logo_2020.svg/2560px-Flaschenpost_Logo_2020.svg.png"
          alt="logo"
      /></a>
    </div>
    <div id="icons">
      <li><fa-icon [icon]="faUser"></fa-icon></li>
      <li><fa-icon [icon]="faHeart"></fa-icon></li>
      <li><fa-icon [icon]="faCartShpping"></fa-icon></li>
    </div>
  </div>
</header>
