.home-page {
  min-width: 375px;
  max-width: 1260px;
  margin: 0 auto;
}
//styles of detail view container

.homepage-sub-container-dview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.allproducts-dview {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product-dview {
  border: 1px solid rgb(214, 50, 132);
  width: 45rem;
  height: 20rem;
  margin: 0 auto;
  border-radius: 2rem;
}
.cards-dview {
  display: flex;
  align-items: center;
}

.img-container-dview {
  padding: 2rem;
}

.img-container-dview img {
  width: 15rem;
  height: 15rem;
  object-fit: contain;
}

#name {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
#brandname {
  border-radius: 1rem;
  font-family: monospace;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.price {
  font-size: 20px;
  padding: 0;
}
#price {
  color: green;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#unit {
  font-size: 14px;
  font-style: oblique;
  margin-top: -1.2rem;
}

//styles of button container
.filter-buttons {
  width: 90%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.filter-button {
  border: none;
  border-bottom: 2px solid rgb(214, 50, 132);
  padding: 0.5rem;
  background: whitesmoke;
  color: rgb(214, 50, 132);
}
.filter-container {
  max-width: 1260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 15px 0;
}

//styles of content container
.homepage-container1 {
  max-width: 1260px;
  margin: 2rem auto;
}
.homepage-container2 {
  max-width: 1260px;
  margin: 2rem auto;
}

.homepage-sub-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  height: 50rem;
  gap: 1.5rem;
}

.allproducts {
  display: flex;
  gap: 1rem;
}
.cards {
  border: 1px solid rgb(214, 50, 132);
  width: 17rem;
  height: 17rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.img-container {
  display: flex;
  justify-content: center;
  align-self: center;
}

.img-container img {
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}

//media-queries

@media (max-width: 800px) {
  .filter-buttons {
    width: 60%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
  }
  .product-dview {
    width: 35rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .img-container-dview img {
    width: 5rem;
  }
}

@media (max-width: 600px) {
  .filter-buttons {
    display: flex;
    flex-direction: column;
    width: 17rem;
  }
  .filter-button {
    border: 1px solid rgb(214, 50, 132);
    border-radius: 1rem;
    //background: rgb(104, 187, 104);
    color: rgb(214, 50, 132);
    font-weight: bold;
  }

  .product-dview {
    width: 25rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    font-size: 12px;
  }
  .img-container-dview {
    padding: 1.5rem;
  }
  .img-container-dview img {
    width: 3.2rem;
  }
  .cards-dview {
    width: 25rem;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
